@inherits LayoutComponentBase

@inject IDialogService DialogService
@inject OpenRouterAuthService AuthService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="page">
    <header class="header">
        <a class="title" href="/">
            <img src="/favicon.png" alt="식탁보 라이트">
            <span>식탁보 라이트 Preview</span>
        </a>

        <div class="external-site">
            <FluentAnchor Appearance="Appearance.Stealth" Href="/">
				<FluentIcon Value="@(new Icons.Regular.Size24.Home().WithColor("currentColor"))" />
            </FluentAnchor>
            <FluentButton Appearance="Appearance.Stealth" OnClick="@OpenChatPage">
				<FluentIcon Value="@(new Icons.Regular.Size24.Bot().WithColor("currentColor"))" />
			</FluentButton>
            <FluentButton Appearance="Appearance.Stealth" OnClick="@OpenSettingDialog">
                <FluentIcon Value="@(new Icons.Regular.Size24.Settings().WithColor("currentColor"))" />
            </FluentButton>
            <FluentAnchor Appearance="Appearance.Stealth" Href="https://github.com/yourtablecloth/TableClothLite" Target="_blank">
                <FluentIcon Value="@(new Github())" />
            </FluentAnchor>
            <FluentAnchor Class="text-anchor" Appearance="Appearance.Lightweight" Href="https://yourtablecloth.app/" target="_blank"
                IconEnd="@(new Icons.Regular.Size12.Open().WithColor("currentColor"))">식탁보 홈페이지</FluentAnchor>
        </div>
    </header>

    <main>
        <article class="content px-4">
            @Body

            <p>&nbsp;</p>

            <div>
                &copy; 2025 rkttu.com, All rights reserved.
            </div>
        </article>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
