@using static CustomIcon;
@inherits LayoutComponentBase;

<div class="page">
    <header class="header">
        <h2 class="title">
            <img src="/favicon.png" alt="">
            <span>식탁보 라이트</span>
        </h2>

        <div class="external-site">
            <FluentButton Appearance="Appearance.Stealth" OnClick="@OpenSettingDialog">
                <FluentIcon Value="@(new Icons.Regular.Size24.Settings().WithColor("currentColor"))" />
            </FluentButton>
            <FluentAnchor Appearance="Appearance.Stealth" Href="https://github.com/yourtablecloth/TableClothLite" Target="_blank">
                <FluentIcon Value="@(new Github())" />
            </FluentAnchor>
            <FluentAnchor Appearance="Appearance.Stealth" Href="https://yourtablecloth.app/" target="_blank"
                IconEnd="@(new Icons.Regular.Size12.Open().WithColor("currentColor"))">식탁보 홈페이지</FluentAnchor>
        </div>
    </header>

    <main>
        <div class="message-container">
            <FluentMessageBar Title="프리뷰 버전 안내" Intent="@MessageIntent.Info" Type="MessageType.Notification"
                class="message">
                현재 식탁보 라이트는 기술 검증을 위하여 제작된 프리뷰 버전으로 예고 없이 제품의 상세 사양이 변경될 수 있습니다.
            </FluentMessageBar>
            <FluentMessageBar Title="책임 부인" Intent="@MessageIntent.Warning" Type="MessageType.Notification"
                class="message">
                식탁보 및 식탁보 라이트는 개인의 편의를 위하여 제공되는 오픈 소스 기반 유틸리티입니다. 사용 중 발생할 수 있는 금전적인 손해, 업무 지연 등을 예방하기 위하여, 중요한 거래는 실제
                하드웨어에서 진행해주세요.
            </FluentMessageBar>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
